:root {
  background-color: #212529;
}
#container {
  position: relative;
}
#container canvas,
#ide,
#progress,
#progress1,
#dialogue {
  position: absolute;
  left: 4%;
}
#ide {
  margin-top: 6%;
}
#progress1 {
  display: flex;
  justify-content: space-between;
  margin-top: 0%;
  width: 1300px;
  align-items: center;
  z-index: 30;
}
#dialogue {
  display: flex;
  margin-top: 40%;
  width: 1300px;
  align-items: center;
}
#progress {
  display: flex;
  justify-content: space-between;
  margin-top: 0%;
  width: 1300px;
  align-items: center;
}
canvas {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  margin: right;
}

#overlay {
  position: relative;
  top: 10%;
  bottom: 90%;
  left: 0;
  right: 0;
  z-index: 10;
}

#flexor {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 1301px;
}
#test-results-container {
  background-color: #282c34;
  overflow-y: auto;
}

.start_page {
  margin-top: 20%;
  background-color: #212529;
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.form_login {
  width: 25%;
  font-size: 12px;
}

.game_info_welcome {
  font-size: 13px;
}

.game_info {
  font-size: 11px;
  width: 45%;
}
.CodeMirror {
  font-size: 20px;
}
.google_button {
  background-color: blue;
}

#test-results-container {
  color: white;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
/* LEFT SIDE OF LOBBY*/
.lobby_wrapper {
  display: flex;
  flex-direction: row;
  background-color: #212529;
}

.left_wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
}

.join_room {
  font-size: 12px;
}

.game_rules {
  width: 100%;
}

.room_join_form {
  display: inline-block;
}
.nes-input {
  width: 60%;
}

/* CHOSE MAP */
.map_tiles_wrapper {
  display: flex; /* or inline-flex */
  flex-direction: row;
  gap: 20px;
}

.choose_map {
  width: 85%;
}

.map_tile {
  width: 1fr;
  height: 1fr;
}

.map_image {
  width: 200px;
  height: 150px;
}

.sprite_img {
  width: 85px;
  height: 100px;
}

.wrappy {
  display: flex;
  flex-direction: row-reverse;
  background-color: #212529;
}
#opponent-progress {
  transform: scaleX(-1);
}
