:root {
  background-color: #212529;
}
#container {
  position: relative;
}
#container canvas,
#overlayer {
  position: absolute;
  left: 4%;
}
#overlayer {
  margin-top: 6%;
}
canvas {
  border: 1px solid black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  margin: right;
}

#overlay {
  position: relative;
  top: 10%;
  bottom: 90%;
  left: 0;
  right: 0;
  z-index: 10;
}

#flexor {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 1300px;
}
#test-results-container {
  background-color: #282c34;
  overflow-y: auto;
}

.start_page {
  margin-top: 20%;
  background-color: #212529;
  display: flex; /* or inline-flex */
  justify-content: center;
  gap: 20px;
}

.form_login {
  width: 25%;
  font-size: 12px;
}

.game_info_welcome {
  font-size: 13px;
}

.game_info {
  font-size: 11px;
  width: 45%;
}

.google_button {
  background-color: blue;
}
